<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>
<div class="primary-sidebar">
  <ul class="nav nav-collapse collapse nav-collapse-primary">
    <li class="active">
      <span class="glow"></span>
      <a href="#"><span>Fittings</span></a>
    </li>
  </ul>
  <div class="hidden-tablet hidden-phone">
    <div class="sparkline-box side">
      <div class="sparkline-row">
        <h4 class="gray"><span>Fits</span> 847</h4>
        <div class="sparkline big" data-color="gray"><!--25,3,28,4,15,4,17,25,15,12,10,8--></div>
      </div>
      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="dark-green"><span>Wealth</span> $43.330</h4>
        <div class="sparkline big" data-color="darkGreen"><!--5,10,24,20,27,21,24,9,12,14,26,23--></div>
      </div>
      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="blue"><span>Reviews</span> 223</h4>
        <div class="sparkline big" data-color="blue"><!--15,12,11,14,6,24,17,4,20,29,9,11--></div>
      </div>
      <hr class="divider">
    </div>
  </div>
</div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">Fitting Name</h3>
          <h5>Ship name</h5>
        </div>
        <ul class="inline pull-right sparkline-box">
          <li class="sparkline-row">
            <h4 class="blue"><span>Ship</span> 847</h4>
          </li>
          <li class="sparkline-row">
            <h4 class="blue"><span>Modules</span> 223</h4>
          </li>
          <li class="sparkline-row">
            <h4 class="green"><span>Total</span> 7930</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid padded">
    <div class="row-fluid">
      <div class="span3">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Collapsible Group Item #1
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
              <div class="accordion-inner">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Collapsible Group Item #2
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body in collapse" style="height: auto;">
              <div class="accordion-inner">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                Collapsible Group Item #3
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Modules</div>
          </div>
          <div class="box-content padded">

          </div>
        </div>
      </div>
      <div class="span7">
        <div class="box">
          <div class="box-content">
            <table class="table table-normal">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Name</td>
                  <td>Power Grid</td>
                  <td>Cpu</td>
                  <td>Capacitar</td>
                  <td>Range</td>
                  <td>Tracking</td>
                  <td>Price</td>
                  <td>Charge</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="icon"><i class="icon-ok"></i></td>
                  <td></td>
                  <td></td>
                  <td><b>Module Name</b></td>
                  <td>99.9</td>
                  <td>99.9</td>
                  <td>99.9</td>
                  <td>100km+100km</td>
                  <td>99.9</td>
                  <td>99.9M</td>
                  <td>Charge Name</td>
                </tr>
                <tr>
                  <td class="icon"><i class="icon-ok"></i></td>
                  <td></td>
                  <td></td>
                  <td><b>Module Name</b></td>
                  <td>99.9</td>
                  <td>99.9</td>
                  <td>99.9</td>
                  <td>100km+100km</td>
                  <td>99.9</td>
                  <td>99.9M</td>
                  <td>Charge Name</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="span2">
        <div class="box">
          <div class="box-header">
            <div class="title">Resources</div>
          </div>
          <div class="box-content padded">

          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Resistances</div>
          </div>
          <div class="box-content padded">

          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Recharge Rates</div>
          </div>
          <div class="box-content padded">

          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Firepower</div>
          </div>
          <div class="box-content padded">

          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Capacitor</div>
          </div>
          <div class="box-content padded">

          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Targeting & Misc</div>
          </div>
          <div class="box-content padded">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>