<div class="container">
  <div class="span8 offset2">
    <div class="padded">
      <h3>Welcome to Iffy Fits!</h3>
      <p class="lead">To get the most accurate fittings, we suggest adding your EVE Characters to Iffy Fits. This will allow us to import all your current skills for each character added.</p>
      <div class="well row-fluid">
        <!-- ko if: characters().length === 0 -->
        <div class="span6">
          <p>Adding your characters will only take a minute.</p>
        </div>
        <div class="span6">
          <button class="btn btn-large btn-primary btn-block" data-bind="wizard:{id:'add-character'}">Lets get started!</button>
        </div>
        <!-- /ko -->
        <!-- ko if: characters().length > 0 -->
        <div class="span8">
          <h4>Nice work! </h4>
        </div>
        <div class="span4">
          <%= link_to 'Continue', fitting_index_path, :class => 'btn btn-large btn-success btn-block' %>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>
<div class="wizard" id="add-character">
    <h1>Add Characters</h1>
    <div class="wizard-card" data-cardname="eveapi" data-validate="true">
      <h3>Setup EVE API</h3>
      <div class="control-group integer optional character_apikey">
        <label class="integer optional control-label" for="character_apikey">Key ID</label>
        <div class="controls">
          <input class="span5 integer required" type="text" id="apikeyid"/>
        </div>
      </div>
      <div class="control-group string optional character_apicode">
        <label class="string optional control-label" for="character_apicode">Verification Code</label>
        <div class="controls">
          <input class="span5 string required" id="apivcode" size="50" type="text"/>
        </div>
      </div>
      <div class="control-group">
        <a href="https://community.eveonline.com/support/api-key/" target="_blank" class="btn btn-mini">Login to EVE Online</a>
      </div>
    </div>
    <div class="wizard-card" data-cardname="card2">
        <h3>Select Characters</h3>
        <!-- ko if: loadingCharacters -->
          <p>Loading your characters...</p>
        <!-- /ko -->
        <ul class="thumbnails" data-bind="template:{name:'import-character', foreach: importCharacters}"></ul>
    </div>
    <div class="wizard-success">
        <h3>You're characters have been addded</h3>
    </div>

    <div class="wizard-error">
        <h3>Shit, something broke</h3>
        <blockquote>
          <p>It is possible to commit no errors and still lose. That is not a weakness. That is life.</p>
          <small>Captain Picard</small>
        </blockquote>
        <p>Please try again.</p>
    </div>
</div>
<script type="text/html" id="import-character">
  <li class="span5">
    <a class="thumbnail row-fluid" href="#" data-bind="css: selected() ? 'selected':'', click:select">
      <div class="span2">
        <img data-bind="attr:{src:avatar}" class="img-rounded" />
      </div>
      <div class="span10">
        <!-- ko if: selected -->
        <span class="label label-inverse pull-right">Selected</span>
        <!-- /ko -->
        <h4 data-bind="text:characterName"></h4>
        <small data-bind="text:corporationName"></small>
      </div>
    </a>
  </li>
</script>
<script type="text/javascript">
  $(function() {
    evefits.user.characters.init();
  });
</script>