@import "compass/css3";
.ship {
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
  &:hover {
    cursor: pointer;
    background: rgba(104, 166, 206, .1);
    color: #68A6CE;
  }
  &.active {
    background: #0088cc;
    color: #fff;
  }
  .row-fluid [class*="span"] {
    min-height: 20px;
  }
}
.thumbnails {
  &.ships {
    li {
      margin: 0 0 10px 0;
      &:first-child{
        margin: inherit;
      }
      .description {
        margin: 5px 0 0 0;
        display: none;
        //background: rgba(255,255,255,.8);
        white-space: pre-wrap;
        color: #78808a;
      }
      .selected {
        .description {
          display: block;
        }
      }
    }
  }
}
.search {
  border-bottom: 1px solid #eee;
  .input-append {
    margin-bottom: 0px;
  }
}
.loading {
  @include filter(blur(5px));
}
.new-fitting-bar {
  &.affix {
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    .well {
      @include background(linear-gradient(top, #33393d, #11161a));
      @include border-radius(0px);
      border: none;
      border-bottom: 0 1px 0 rgba(255,255,255,.25);
      margin: 0px;
      min-height: 20px;
      @include box-shadow(0 2px 5px rgba(0,0,0,.2));
    }
  }
}