@import "compass/css3";

.ship {
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
  &:hover {
    cursor: pointer;
    background: rgba(104, 166, 206, .1);
    color: #68A6CE;
  }
  &.active {
    background: #0088cc;
    color: #fff;
  }
  .row-fluid [class*="span"] {
    min-height: 20px;
  }
}