@import "compass/css3";

.ship {
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
  &:hover {
    cursor: pointer;
    background: rgba(104, 166, 206, .1);
    color: #68A6CE;
  }
  &.active {
    background: #0088cc;
    color: #fff;
  }
  .row-fluid [class*="span"] {
    min-height: 20px;
  }
}
.thumbnails {
  &.ships {
    li {
      margin: 0 0 10px 0;
      &:first-child{
        margin: inherit;
      }
      .description {
        margin: 5px 0 0 0;
        display: none;
        //background: rgba(255,255,255,.8);
        white-space: pre-wrap;
        color: #78808a;
      }
      .selected {
        .description {
          display: block;
        }
      }
    }
  }
}